broker/OrderProcessor/target/
broker/OrderProcessor/.idea/
trader/gateway/.idea/
trader/gateway/target/
TradeHistoryAccess/src/main/resources/static/
trader/TraderGateway/src/main/resources/static/
